<menu><%= link_to 'All tasks', tasks_path %></menu>
<h1>Add a new task</h1>

<%= form_with model: @task_new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_area :details, size: "35x3"%>
  <%= f.submit "Save task" %>
<% end %>
